MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/karama-youth
JWT_SECRET=your_jwt_secret_key_here_change_in_production
PORT=3000
NODE_ENV=development

# Social Media
INSTAGRAM_URL=https://www.instagram.com/yo.karama
YOUTUBE_URL=https://youtube.com/@yo-karama
TIKTOK_URL=https://www.tiktok.com/@yo_karama
TWITTER_URL=https://x.com/yo_karamaa
FACEBOOK_URL=https://www.facebook.com/share/1L8MvXbdp7/

# Email Configuration (Optional)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
